.message-panel {
  border: 1px solid var(--text-main);
  border-radius: calc(var(--br-normal) * 2px);
  max-width: max(calc(17px * 40));

  > .message-panel-content:only-child {
    padding-top: 2rem;
  }

  &-header {
    padding-top: 2rem;
    padding-left: 4.3rem;
    padding-right: 4.3rem;
    font-weight: bold;
    --fz: 17;

    @media (width < 480px) {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 1.5rem;
    } 
  }

  &-content * {
    --fz: 15;
    padding-left: 4.3rem;
    padding-right: 4.3rem;
    padding-bottom: 2rem;

    @media (width < 480px) {
      --fz: 13.5;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 1.5rem;
    } 
  }

  &.state_optional {
    background-color: var(--bg-page-optional);
    border-color: transparent;
  }

  &.state_highlight {
    background-color: var(--bg-page-highlight);
    border-color: transparent;
  }

  &.state_alert {
    border-color: var(--alert);
    * {
      color: var(--alert);
    }
  }

  &.mod_icon {
    .message-panel-header {
      position: relative;
      width: calc(100% + 1.1em);
      left: -1.1em;

      @media (width < 480px) {
        left: 0;
        width: 100%;
      } 
    }
  }
}