<section class="twls-content-container">
  <h2>RadioGroup</h2>
  <twls-radio-group>
    <twls-radio-group-item
      label="兵庫県"
      name="radio-group-sample"
    ></twls-radio-group-item>
    <twls-radio-group-item
      label="大阪府"
      name="radio-group-sample"
      checked
    ></twls-radio-group-item>
    <twls-radio-group-item
      label="京都府"
      name="radio-group-sample"
    ></twls-radio-group-item>
  </twls-radio-group>
</section>