<section class="twls-content-container">
  <h2>Modal</h2>
  <twls-modal modal-id="sample-modal" modal-title="律令制とは">
    <div slot="modal-content">
      <p>
        日本の律令制は、中国の制度を参考にし設立され、7世紀後期（飛鳥時代後期）から10世紀頃まで実施された。開始後約100年間（8世紀後期まで）は経済・軍事に関してはほぼ設立時の制度に忠実に従った国家運営が行われた（律令国家・律令体制・律令時代）。
      </p>
      <p>
        制度設立の背景は、7世紀初頭から始まった中央集権国家実現・国力増強への取り組みがあった。また白村江の戦い（663年）の大敗後に、唐に対峙する危機意識を背景とし、唐の仕組みを取り入れ、強力な国家体制の実現、国民皆兵制による大規模な国家軍事力の設立、他国（新羅、渤海）に対する宗主の位置付けを目指したとも考えられている。
      </p>
      <p>
        日本の律令制は、中国の制度を参考にし設立され、7世紀後期（飛鳥時代後期）から10世紀頃まで実施された。開始後約100年間（8世紀後期まで）は経済・軍事に関してはほぼ設立時の制度に忠実に従った国家運営が行われた（律令国家・律令体制・律令時代）。
      </p>
      <p>
        制度設立の背景は、7世紀初頭から始まった中央集権国家実現・国力増強への取り組みがあった。また白村江の戦い（663年）の大敗後に、唐に対峙する危機意識を背景とし、唐の仕組みを取り入れ、強力な国家体制の実現、国民皆兵制による大規模な国家軍事力の設立、他国（新羅、渤海）に対する宗主の位置付けを目指したとも考えられている。
      </p>
      <p>
        日本の律令制は、中国の制度を参考にし設立され、7世紀後期（飛鳥時代後期）から10世紀頃まで実施された。開始後約100年間（8世紀後期まで）は経済・軍事に関してはほぼ設立時の制度に忠実に従った国家運営が行われた（律令国家・律令体制・律令時代）。
      </p>
      <p>
        制度設立の背景は、7世紀初頭から始まった中央集権国家実現・国力増強への取り組みがあった。また白村江の戦い（663年）の大敗後に、唐に対峙する危機意識を背景とし、唐の仕組みを取り入れ、強力な国家体制の実現、国民皆兵制による大規模な国家軍事力の設立、他国（新羅、渤海）に対する宗主の位置付けを目指したとも考えられている。
      </p>
    </div>
    <div slot="modal-footer">
      <button type="button" class="twls-button ghost twls-modal-closer">
        閉じる
      </button>
    </div>
    <div slot="modal-initiater">
      <button type="button" class="twls-button twls-modal-opener" data-twls-modal-open="sample-modal">
        律令制とは
      </button>
    </div>
  </twls-modal>
</section>