<section class="content-section">
  <h2 lang="en" id="message-panel">Message Panel</h2>
  <twls-message-panel html-class="">
    <div slot="header">注釈パネル</div>
    <div slot="content">
      <p>注釈パネルは、本文に対して補足的な情報を提示するときに利用します。主に注意喚起をしたい場合と、読み飛ばしても問題のない、補助的な情報の2つの用途で用います。見出しと本文に分かれ、見出しにはアイコンが適用できます。本文はエッセンシャルアトムですが、見出しとアイコンは、オプショナルアトムです。</p>
    </div>
  </twls-message-panel>
  <twls-message-panel>
    <div slot="content">
      <p>見出しのない注釈パネルです。本文に対して補足的な情報を提示するときに利用します。主に注意喚起をしたい場合と、読み飛ばしても問題のない、補助的な情報の2つの用途で用います。見出しと本文に分かれ、見出しにはアイコンが適用できます。本文はエッセンシャルアトムですが、見出しとアイコンは、オプショナルアトムです。</p>
    </div>
  </twls-message-panel>
  <twls-message-panel html-class="state_optional">
    <div slot="header">注釈パネル</div>
    <div slot="content">
      <p>注釈パネルは、本文に対して補足的な情報を提示するときに利用します。主に注意喚起をしたい場合と、読み飛ばしても問題のない、補助的な情報の2つの用途で用います。見出しと本文に分かれ、見出しにはアイコンが適用できます。本文はエッセンシャルアトムですが、見出しとアイコンは、オプショナルアトムです。</p>
    </div>
  </twls-message-panel>
  <twls-message-panel html-class="state_highlight">
    <div slot="header">注意パネル</div>
    <div slot="content">
      <p>注釈パネルは、本文に対して補足的な情報を提示するときに利用します。主に注意喚起をしたい場合と、読み飛ばしても問題のない、補助的な情報の2つの用途で用います。見出しと本文に分かれ、見出しにはアイコンが適用できます。本文はエッセンシャルアトムですが、見出しとアイコンは、オプショナルアトムです。</p>
    </div>
  </twls-message-panel>
  <twls-message-panel html-class="state_alert">
    <div slot="header">警告パネル</div>
    <div slot="content">
      <p>注釈パネルは、本文に対して補足的な情報を提示するときに利用します。主に注意喚起をしたい場合と、読み飛ばしても問題のない、補助的な情報の2つの用途で用います。見出しと本文に分かれ、見出しにはアイコンが適用できます。本文はエッセンシャルアトムですが、見出しとアイコンは、オプショナルアトムです。</p>
    </div>
  </twls-message-panel>
  <twls-message-panel html-class="state_alert mod_icon">
    <div slot="header">
      <twls-icon-alert-triangle width="14" height="14"></twls-icon-alert-triangle>アイコン付きパネル</div>
    <div slot="content">
      <p>注釈パネルは、本文に対して補足的な情報を提示するときに利用します。主に注意喚起をしたい場合と、読み飛ばしても問題のない、補助的な情報の2つの用途で用います。見出しと本文に分かれ、見出しにはアイコンが適用できます。本文はエッセンシャルアトムですが、見出しとアイコンは、オプショナルアトムです。</p>
    </div>
  </twls-message-panel>
</section>