<nav class="twls-sidemenu kitchen-sink-sidemenu">
  <section class="twls-sidemenu-container">
    <h2 lang="en" class="twls-sidemenu-heading">Components</h2>
    <ul class="twls-sidemnu-list">
      <li class="twls-sidemenu-item"><a href="#button">Button</a></li>
      <li class="twls-sidemenu-item">
        <a href="#radio-group">RadioGroup</a>
      </li>
      <li class="twls-sidemenu-item"><a href="#modal">Modal</a></li>
      <li class="twls-sidemenu-item"><a href="#accordion">Accordion</a></li>
      <li class="twls-sidemenu-item"><a href="#message-panel">Message Panel</a></li>
      <li class="twls-sidemenu-item"><a href="#icons">Icon</a></li>
    </ul>
  </section>
</nav>