<nav class="sidebar">
  <twls-off-canvas-menu>
    <section class="sidebar-container">
      <h2 lang="en" class="sidebar-heading">Components</h2>
      <ul class="sidebar-list">
        <li class="sidebar-item">
          <a href="#buttons">
            <twls-icon-triangle width="7"></twls-icon-triangle>
            Buttons</a>
        </li>
        <li class="sidebar-item">
          <a href="#radio-group">
            <twls-icon-triangle width="7"></twls-icon-triangle>
            RadioGroup</a>
        </li>
        <li class="sidebar-item">
          <a href="#modal">
            <twls-icon-triangle width="7"></twls-icon-triangle>
            Modal</a>
        </li>
        <li class="sidebar-item">
          <a href="#accordion">
            <twls-icon-triangle width="7"></twls-icon-triangle>
            Accordion</a>
        </li>
        <li class="sidebar-item">
          <a href="#message-panel">
            <twls-icon-triangle width="7"></twls-icon-triangle>
            Message Panel</a>
        </li>
        <li class="sidebar-item">
          <a href="#dropdown">
            <twls-icon-triangle width="7"></twls-icon-triangle>
            Dropdown</a>
        </li>
        <li class="sidebar-item">
          <a href="#pagination">
            <twls-icon-triangle width="7"></twls-icon-triangle>
            Pagination</a>
        </li>
        <li class="sidebar-item">
          <a href="#icons">
            <twls-icon-triangle width="7"></twls-icon-triangle>
            Icons</a>
        </li>
      </ul>
    </section>
  </twls-off-canvas-menu>
</nav>