
@use '../config/_variables' as var;

/* TODO:
 * optionalボタン、
 * disabledなどのスタイルを追加する
 */

.#{var.$ns}-button {
  display: inline-block;
  border-radius: calc(var(--global-radius) * 1px);
  cursor: pointer;
  width: fit-content;
  font-size: 1.6rem;
  font-weight: 600;
  color: #e4e4e4;
  border-style: solid;
  border-width: 1px;
  background-color: var(--bg-button-main);
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;
  padding-left: 3.8rem;
  padding-right: 3.8rem;
  position: relative;

  &:hover {
    background-color: var(--bg-button-hover);
    color: #fff;
    text-decoration: none;
    transform: scale(1.025);
    transform-origin: center center;
  }

  &:active {
    background-color: var(--text-main);
    top: 1px;
  }
  
  &.#{var.$ns}-ghost {
    background-color: transparent;
    color: var(--text-main);
    border: 1px solid var(--text-main);

    &:hover {
      color: var(--text-highlight);
        background-color: transparent;
        border-color: var(--text-highlight);
        border-width: 3px;
        padding-left: calc(3.8rem - 2px);
        padding-left: calc(3.8rem - 2px);
        padding-top: calc(2.1rem - 2px);
        padding-bottom: calc(2.1rem - 2px);
    }

    &:active {
      background-color: transparent;
    }
  }

  &.#{var.$ns}-optional {
    background: #e4e4e4;
    border: 0;
    color: var(--text-main);
    &:hover {
      background: #f6f6f6;
    }
  }
}