@use '../config/_variables' as var;

.#{var.$ns}-button {
  --fz: 1.6;
  --px: 2.375;
  --py: 1.3125;
  display: inline-block;
  border-radius: calc(var(--global-radius) * 1px);
  cursor: pointer;
  width: fit-content;
  font-size: calc(var(--fz) * 1rem);
  font-weight: 600;
  color: #e4e4e4;
  border-style: solid;
  border-width: 0;
  background-color: var(--bg-button-main);
  padding-top: calc(var(--py) * 1em);
  padding-bottom: calc(var(--py) * 1em);
  padding-left: calc(var(--px) * 1em);
  padding-right: calc(var(--px) * 1em);
  position: relative;

  &:hover {
    background-color: var(--bg-button-hover);
  }

  &:active {
    background-color: var(--text-main);
    top: 1px;
    /* height: calc(fit-content - 10px); */
  }
  &:invalid {
    text-decoration-line: overline;
  }

  &.ghost {
    background-color: transparent;
    border: var(--text-caption) 1px solid;
    color: var(--text-main);

    &:hover {
      color: var(--text-highlight);
      border-color: var(--text-highlight);
      padding-top: calc(var(--py) * 1em - 1px);
      padding-bottom: calc(var(--py) * 1em - 1px);
      padding-left: calc(var(--px) * 1em - 1px);
      padding-right: calc(var(--px) * 1em - 1px);
      border-width: 2px;
    }

    &:active {
      background-color: transparent;
    }
  }

  &.optional {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--text-main);

    &:hover {
      color: var(--text-highlight);
      background: #d8d8d8;
      border-color: transparent;
      padding-top: calc(1.3125em - 1px);
      padding-bottom: calc(1.3125em - 1px);
      padding-left: calc(2.375em - 1px);
      padding-right: calc(2.375em - 1px);
      border-width: 2px;
    }
  }
}
