.accordion {
  border-bottom: 1px solid var(--text-main);
}
.accordion-item {
  border-top: 1px solid var(--text-main);
  .accordion-tab {
    padding: 1rem 2rem;
    position: relative;

    &:hover {
      cursor: pointer;
      background: var(--bg-page-optional);
    }
  }
  .accordion-detail {
    padding: 1rem 4rem;
    padding-top: 0;
  }
}