{% for item in navigationData %}
<section class="twls-index-nav-container">
  <h2 class="heading">{{ item.category }}</h2>
  <div class="twls-index-nav-list">
    <!-- CardButton Components will be iterated here. -->
  </div>
</section>
{% endfor %}