---
import SidebarLayout from '../../layouts/subpage-sidebar.astro'
import KitchenSinkSideMenu from '../../components/site/elements/KitchenSinkSideMenu.astro'
import ButtonContent from '../../components/site/contents/kitchen-sink/01_Button.astro'
import RadioGroupContent from '../../components/site/contents/kitchen-sink/02_RadioGroup.astro'
import AccordionContent from '../../components/site/contents/kitchen-sink/03_Accordion.astro'
import ModalContent from '../../components/site/contents/kitchen-sink/04_Modal.astro'
---

<SidebarLayout title="About :: The Wheels - Multi purpose design system for human society.">
  <KitchenSinkSideMenu slot="sidebar" />
  <article slot="content">
    <h1>Kitchen Sink</h1>
    <ButtonContent />
    <RadioGroupContent />
    <AccordionContent />
    <ModalContent />
  </article>
</SidebarLayout>