{% extends 'layouts/sidebar-content.njk' %}

{% set title = "Kitchen Sink"%}
{% set titleFollow = "| The Wheels :: 日本語のサイトで最も美しく見えるようデザインされた、全用途汎用のデザインシステム" %}
{% set description = "The WheelsのKitchen Sink（パーツ集）です。The Wheelsに収録されているUIパーツを一覧できます。The Wheelsは、日本語という言語において、最も美しく見えるようデザインされ、日本語圏におけるWebサイトやシステムでの利用において、汎用的に利用が可能なデザインシステムです。" %}

{% block sidebar%}
  {% include 'components/site/kitchen-sink/kitchen-sink-side-nav.njk' %}
{% endblock %}

{% block content %}
  <article class="content">
    <h1 lang="en">Kitchen Sink</h1>
    {% include 'components/site/kitchen-sink/01_buttons.njk' %}
    {% include 'components/site/kitchen-sink/02_radio-group.njk' %}
    {% include 'components/site/kitchen-sink/03_modal.njk' %}
    {% include 'components/site/kitchen-sink/04_accordion.njk' %}
    {% include 'components/site/kitchen-sink/05_message-panel.njk' %}
    <section class="content-section">
      <h2 id="dropdown">Dropdown</h2>
      <twls-dropdown>
        <button type="button" class="trigger">
          <twls-icon-three-dots width="14" height="14" />
        </button>
        <div class="content">
          <p>Dropdown content goes here.</p>
        </div>
      </twls-dropdown>
    </section>
    <section class="content-section">
      <h2 id="pagination">Pagination</h2>
      <twls-pagination
        oldestLink="#"
        prevLink="#176"
        prevLabel="前"
        nextLink="#"
        nextLabel="次"
        latestLink="#"
        currentPageNum="3"
        totalPageNum="48"
        currentPageItemCount="31~40"
        totalItemCount="全476"
      >
        <ul class="pager-all-list">
          <li class="pager-all-item"><a href="">1</a></li>
          <li class="pager-all-item"><a href="">2</a></li>
          <li class="pager-all-item"><a href="">3</a></li>
          <li class="pager-all-item"><a href="">4</a></li>
          <li class="pager-all-item"><a href="">5</a></li>
          <li class="pager-all-item"><a href="">6</a></li>
          <li class="pager-all-item"><a href="">7</a></li>
          <li class="pager-all-item"><a href="">8</a></li>
          <li class="pager-all-item"><a href="">9</a></li>
          <li class="pager-all-item"><a href="">10</a></li>
          <li class="pager-all-item"><a href="">11</a></li>
          <li class="pager-all-item"><a href="">12</a></li>
          <li class="pager-all-item"><a href="">13</a></li>
          <li class="pager-all-item"><a href="">14</a></li>
          <li class="pager-all-item"><a href="">15</a></li>
          <li class="pager-all-item"><a href="">16</a></li>
          <li class="pager-all-item"><a href="">17</a></li>
          <li class="pager-all-item"><a href="">18</a></li>
          <li class="pager-all-item"><a href="">19</a></li>
          <li class="pager-all-item"><a href="">20</a></li>
          <li class="pager-all-item"><a href="">21</a></li>
          <li class="pager-all-item"><a href="">22</a></li>
          <li class="pager-all-item"><a href="">23</a></li>
          <li class="pager-all-item"><a href="">24</a></li>
          <li class="pager-all-item"><a href="">25</a></li>
          <li class="pager-all-item"><a href="">26</a></li>
          <li class="pager-all-item"><a href="">27</a></li>
          <li class="pager-all-item"><a href="">28</a></li>
          <li class="pager-all-item"><a href="">29</a></li>
          <li class="pager-all-item"><a href="">30</a></li>
          <li class="pager-all-item"><a href="">31</a></li>
          <li class="pager-all-item"><a href="">32</a></li>
          <li class="pager-all-item"><a href="">33</a></li>
          <li class="pager-all-item"><a href="">34</a></li>
          <li class="pager-all-item"><a href="">35</a></li>
          <li class="pager-all-item"><a href="">36</a></li>
          <li class="pager-all-item"><a href="">37</a></li>
          <li class="pager-all-item"><a href="">38</a></li>
          <li class="pager-all-item"><a href="">39</a></li>
          <li class="pager-all-item"><a href="">40</a></li>
          <li class="pager-all-item"><a href="">41</a></li>
          <li class="pager-all-item"><a href="">42</a></li>
          <li class="pager-all-item"><a href="">43</a></li>
          <li class="pager-all-item"><a href="">44</a></li>
          <li class="pager-all-item"><a href="">45</a></li>
          <li class="pager-all-item"><a href="">46</a></li>
          <li class="pager-all-item"><a href="">47</a></li>
          <li class="pager-all-item"><a href="">48</a></li>
        </ul>
      </twls-pagination>
    </section>
    <section class="content-section">
      <h2 id="icons">Icons</h2>
      <dl class="gallery">
        <twls-gallery-item title="Triangle">
          <twls-icon-alert-triangle width="48" height="48" fill="var(--text-highlight)" rotate="0"></twls-icon-alert-triangle>
        </twls-gallery-item>
        <twls-gallery-item title="PC">
          <twls-icon-pc width="48" height="48" fill="var(--text-highlight)" rotate="0"></twls-icon-pc>
        </twls-gallery-item>
        <twls-gallery-item title="Sun">
          <twls-icon-sun width="48" height="48" fill="var(--text-highlight)" rotate="0"></twls-icon-sun>
        </twls-gallery-item>
        <twls-gallery-item title="Moon">
          <twls-icon-moon width="48" height="48" fill="var(--text-highlight)" rotate="0"></twls-icon-moon>
        </twls-gallery-item>
        <twls-gallery-item title="Lock">
          <twls-icon-lock width="48" height="48" fill="var(--text-highlight)" rotate="0"></twls-icon-lock>
        </twls-gallery-item>
        <twls-gallery-item title="Arrow">
          <twls-icon-arrow width="48" height="48" fill="var(--text-highlight)" rotate="0"></twls-icon-arrow>
        </twls-gallery-item>
        <twls-gallery-item title="Triangle">
          <twls-icon-triangle width="48" height="48" fill="var(--text-highlight)" rotate="0"></twls-icon-triangle>
        </twls-gallery-item>
        <twls-gallery-item title="Hamburger">
          <twls-icon-hamburger width="48" height="48" fill="var(--text-highlight)" rotate="0"></twls-icon-hamburger>
        </twls-gallery-item>
        <twls-gallery-item title="ThreeDots">
          <twls-icon-three-dots width="48" height="48" fill="var(--text-highlight)" rotate="0"></twls-icon-three-dots>
        </twls-gallery-item>
        <twls-gallery-item title="Chevron">
          <twls-icon-chevron width="48" height="48" fill="var(--text-highlight)" rotate="0"></twls-icon-chevron>
        </twls-gallery-item>
        <twls-gallery-item title="Chevron End">
          <twls-icon-chevron-end width="48" height="48" fill="var(--text-highlight)" rotate="0"></twls-icon-chevron-end>
        </twls-gallery-item>
      </dl>
    </section>
    <section class="content-section">
      <h2 id="forms">Forms</h2>
      <form>
        <fieldset>
          <dl class="gallery">
            <twls-gallery-item title="Single Line Input with text counter, required">
              <twls-single-line-input
                labelText="お名前"
                minlength="3"
                maxlength="50"
                isRequired="true"
                placeholder="例）山田 太郎"
              >
                <div class="assist-messages">
                  <p>普段ビジネスでご利用のお名前でお願いいたします。</p>
                  <p>最低3文字以上、最大50文字以内でお願いいたします。</p>
                </div>
              </twls-single-line-input>
            </twls-gallery-item>
            <twls-gallery-item title="Single Line Input, optional.">
              <twls-single-line-input
                labelText="Email"
                type="email"
                minlength="7"
                maxlength="80"
                placeholder="例）yamada@example.com"
              >
                <div class="assist-messages">
                  <p>普段ビジネスでご利用のアドレスでお願いいたします。</p>
                  <p>フリーメールのアドレスはご利用になれません。</p>
                  <p>最低7文字以上、最大80文字以内でお願いいたします。</p>
                </div>
              </twls-single-line-input>
            </twls-gallery-item>
          </dl>
        </fieldset>
      </form>
    </section>
  </article>
{% endblock %}