@use '_variables' as var;
<<<<<<< Updated upstream
// body {
//   width: 100%;
//   container-type: inline-size;
//   font-feature-settings: 'palt';
// }
=======
>>>>>>> Stashed changes

.layout-container {
  width: 100%;
}

.#{var.$ns}-container {
  width: 118rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin: 0 auto;

  @media (width < 480px) {
    width: 100%;
    padding-left: 6.25%;
    padding-right: 6.25%;
  }
}
@media (1280px <= width) {
  .layout-container {
    width: 118rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 0 auto;
  }
}

.#{var.$ns}-main-content {
  @media (width < 480px) {
    padding-left: 6.25%;
    padding-right: 6.25%;
    p,
    li,
    span,
    blockquote,
    cite {
      font-size: 1.6rem;
    }
  }
}
