@layer reset-css, the-wheels;

@import "reset-css" layer(reset-css);


:root {
  // Define 1rem as 10px equivalent.
  font-size: 62.5%; 

  // variables
  --bg-page: #efefef;
  --bg-page-highlight: #ffffff;
  --bg-button-main: #3B3B3B;
  --bg-button-optional: #E1E1E1;
  --bg-button-hover: #696969;
  --text-main: #464646;
  --text-caption: #666666;
  --text-highlight: #000000;
  --alert: #ca2727;
  --fz-root-pc: 18;
  --fz-root-mobile: 16;
  --lh-root-pc: 1.7;
  --lh-root-mobile: 1.55;
  --br-major: 15;
  --br-normal: 4;
  --br-minor: 2;
}

* {
  box-sizing: border-box;
}

body * {
  font-family: 'Noto Sans JP', Inter, sans-serif;
  &[lang="en"] {
    font-family: Inter, sans-serif;
  }
}

nav a {
  text-decoration: none;
}

@layer the-wheels {

  body {
    display: flex;
    flex-flow: column;
    gap: 3rem;
    background-color: var(--bg-page);
    
    * {
      --fz: var(--fz-root-pc);
      --lh: var(--lh-root-pc);
      color: var(--text-main);
      font-size: calc(var(--fz) / 10 * 1rem);
      line-height: calc(var(--lh));
      margin-top: calc((1em * var(--lh) - var(--fz)) / 2 * -1px);
      margin-bottom: calc((1em * var(--lh) - var(--fz)) / 2 * -1px);
      font-family: 'Noto Sans JP', Inter, sans-serif;
    }

  }

  strong {
    font-weight: 700;
  }

  // Utilities Importing
  @import "partials/utils/_layout.scss";
  @import "partials/utils/_typography.scss";

  // Components Importing
  @import "partials/atoms/_button.scss";
  @import "partials/elements/_gallery.scss";
  @import "partials/lists/_radio-group.scss";
  @import "partials/modules/_card-button.scss";
  @import "partials/modules/_modal.scss";
  
  .subpage-nav {
    padding-left: 6.615%;
    padding-right: 6.615%;
    margin-bottom: 7rem;

    .nav-item {
      display: flex;
      flex-flow: row;
      gap: 4rem;
    }
  }
}

