<!doctype html>
<html lang="ja">
  <head>
    <include src="components/site/sources/Head.html"></include>
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <include
        src="components/site/elements/GlobalHeader.html"
        locals='{"title": "The Wheels", "caption": "All purpose desgin system."}'
      ></include>
    </header>
    <section class="main">
      <div class="layout-container">
        <block name="pageTitle"></block>
        <div class="twls-layout-sidebar">
          <div class="twls-sidebar">
            <block name="sidebar"></block>
          </div>
          <main class="twls-main-content">
            <block name="content"></block>
          </main>
        </div>
        </div>
        </section>
    <footer>
      <include src="components/site/elements/GlobalFooter.html"></include>
    </footer>
  </body>
</html>
