---
const { tabLabel } = Astro.props
---
<details class="accordion-item">
  <summary class="accordion-tab">
    { tabLabel }
  </summary>
  <div class="accordion-detail">
    <slot />
  </div>
</details>