---
const { modalId, modalTitle } = Astro.props
---
<dialog class="twls-modal" id={ modalId } title={ modalTitle }>
  <header class="modal-header" id="sample-modal-title">{ modalTitle }</header>
  <section class="modal-content" id="sample-modal-content">
    <slot name="modal-content" />
  </section>
  <footer class="modal-footer">
    <slot name="modal-footer" />
  </footer>
</dialog>
<slot name="modal-initiater" />

<script>
  import { modal } from 'the-wheels'

  modal()
</script>