{% extends 'layouts/home.njk' %}

{% block content %}
    <!-- Hero Component goes here -->
    <nav class="twls-container horizontal">
      <a href="/kitchen-sink/" class="twls-button">Kitchen sink</a>
    </nav>
    <nav>
      {% include 'components/site/home/navigation.njk' %}
    </nav>
{% endblock %}