input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  margin-left: .25em;
  margin-right: .25em;
}

.twls-selective-group {
  display: flex;
  flex-flow: row wrap;
}

.twls-selective-element {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: .5em;
  border: 1px solid var(--text-caption);
  width: fit-content;
  padding: .25em .5em;
  border-radius: calc(var(--global-radius) * 1px);
  &:hover {
    cursor: pointer;
    border: 1px solid var(--text-highlight);
    background: #f4f4f4;
  }
  [type="checkbox"]:only-of-type:required {
    + .twls-label-text {
      position: relative;
      padding-right: 2.5em;
      &::after {
        content: var(--required-label);
        font-size: 55%;
        color: #fff;
        background: var(--alert);
        padding: .25em .75em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
    &:valid + .twls-label-text::after {
      background-color: green;
    }
  }

  &:has(*:checked) {
    border: 2px solid var(--text-highlight);
    color: var(--text-highlight);
    padding: calc(.25em - 1px) calc(.5em - 1px);
  }
}

.twls-select {
  display: flex;
  flex-flow: row;
  gap: 2rem;
  select {
    background: transparent;
    border: 1px solid var(--text-highlight);
    padding: 0.25em 0.5em;
  }

  &:has(*:required) {
    > .twls-label-text{
      display: inline-flex;
      flex-flow: column;
      gap: .3em;
      position: relative;
      padding-left: 2.5em;
      &::before {
        position: absolute;
        content: var(--required-label);
        font-size: 65%;
        color: #fff;
        background: var(--alert);
        padding: .25em .75em;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
    &:has(*:valid) {
      > .twls-label-text{ 
        &::before {
          background-color: green;
        }
      }
    }
  }
}

fieldset:has([type="radio"]:required) {
  legend {
    display: block;
    position: relative;
    padding-left: 2.5em;
    &::before {
      position: absolute;
      content: var(--required-label);
      font-size: 65%;
      color: #fff;
      background: var(--alert);
      padding: .25em .75em;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
  &:has(*:valid) legend::before { 
    background-color: green;
  }
}
