{% extends 'layouts/home.njk' %}

{% set title = "The Wheels"%}
{% set titleFollow = " :: 日本語のサイトで最も美しく見えるようデザインされた、全用途汎用のデザインシステム" %}
{% set description = "The Wheelsの公式サイトです。The Wheelsは、日本語という言語において、最も美しく見えるようデザインされ、日本語圏におけるWebサイトやシステムでの利用において、汎用的に利用が可能なデザインシステムとして開発されました。当サイトでは、その利用方法から活用手法について説明しています。" %}

{% block hero %}
  {% include 'components/site/home/hero.njk' %}
{% endblock %}

{% block content %}
    <nav class="twls-container horizontal">
      <a href="/kitchen-sink/" class="button">Kitchen sink</a>
    </nav>
    <nav class="index-nav-area">
      {% include 'components/site/home/navigation.njk' %}
    </nav>
{% endblock %}