.content {
  // Basic style, to spacing by gap, cause use flexbox.
  &-section {
    display: flex;
    flex-flow: column;
    gap: 3rem;

    max-width: 40em;

    &.full {
      min-width: 100%;
    }
  }
  
  a:not(.button) {
    text-decoration: underline;
  }

  h1,h2,h3,h4,h5,h6,
  [class^="heading-"] {
    margin-top: 4rem;
    line-height: 1.04;
  }

  h1, .heading-1 {
    --fz: 62;
    font-weight: 800;
    color: var(--text-highlight);
    margin-bottom: 1.25rem;
  }

<<<<<<< HEAD
.#{var.$ns}-heading-3,
h3 {
  --fz: 24;
  --mt: 78;
  --mb: 24;
  position: relative;
  padding-left: 1em;
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    width: 0.6em;
    height: 4px;
    background: var(--text-caption);
  }
  @include func.numberToRemFz(var(--fz));
  line-height: var(--heading-lh);
  font-weight: 700;
  color: var(--text-caption);
  @include func.lineHeightNegatieMargin(var(--fz));
  margin-top: func.pxToRem(var(--mt));
  margin-bottom: func.pxToRem(var(--mb));
  @media (width < 480px) {
    --fz: 28;
    --mt: 62;
    --mb: 12;
    --heading-lh: 1.14;
  }
}

h1 + h2,
h2 + h3,
h3 + h4,
h5 + h6,
.#{var.$ns}-heading-1 + .#{var.$ns}-heading-2,
.#{var.$ns}-heading-2 + .#{var.$ns}-heading-3,
.#{var.$ns}-heading-3 + .#{var.$ns}-heading-4,
.#{var.$ns}-heading-4 + .#{var.$ns}-heading-5,
.#{var.$ns}-heading-5 + .#{var.$ns}-heading-6 {
  margin-top: 1em;
  @media (width < 480px) {
    margin-top: 2.4rem;
=======
  h2, .heading-2 {
    --fz: 50;
>>>>>>> 2b7f8174ef35338c72a160cbb4e3dc3c9f899506
  }

  h3, .heading-3 {
    --fz: 23;
    color: var(--text-caption);
    font-weight: 600;
    position: relative;
    padding-left: 1.5em;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 1em;
      height: 1px;
      background-color: currentColor;
      top: 1em;
      left: 0;
      transform: translateY(-0.475em);
    }
  } 
}

// @media (720px < width) {
//   .content-text {
//     &, * {
//       max-width: fit-content;
//     }
//   }
//   .content-section {
//     display: block;
//     column-count: 2;
//     column-rule: solid 1px var(--text-caption);
//     column-gap: 3rem;
//     column-fill: balance;
//     column-width: 36em;
//     max-width: 100dvw;
//     height: auto;
//     max-height: calc(100dvh - 12%);

//     p > * {
//       display: inline;
//     }

//     h2, .heading-2 {
//       column-span: all;
//     }
//   }
// }
