@use "../config/_variables" as var;
@use "_functions" as func;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap");

:root {
  font-size: 62.5%;
}

* {
  line-height: 1;
  box-sizing: border-box;

}

body {
  &:has(dialog[open]) {
    overflow: hidden;
  }
  * {
    line-height: var(--lh);
    @include func.numberToRemFz(var(--fz));
  }
  .#{var.$ns}-body {
    --fz-root: 18;
    --fz: var(--fz-root);
    --lh: 1.8;
    line-height: var(--lh);
    background-color: var(--bg-page);
    color: var(--text-main);
    font-family: "Inter", "Noto Sans JP", sans-serif;
    @media (width < 720px) {
      --fz: 16;
      --lh: 1.7;
    }
  }
}

.#{var.$ns}-layout {
  container-type: inline-size;
  .#{var.$ns}-container {
    width: 100%;
    max-width: calc(var(--fz-root) * 1px * 40);
    display: flex;
    flex-flow: column;
    gap: 5.5rem;
    // padding: 0;
    @container (min-width: 40em) {
      width: calc(var(--fz-root) * 1px * 40);
      // margin-left: 0;
      // margin-right: 0;
    }
  }
}

.#{var.$ns}-page-text-title {
  --fz: 54;
  color: var(--text-highlight);
  font-weight: 800;
  // margin-bottom: 1em;
  @media (width < 720px) {
    --fz: 36;
  }
}

.#{var.$ns}-content {
  max-width: 40em;
  display: flex;
  flex-flow: column;
  gap: 3rem;
  margin-bottom: 3rem;
  *:last-child {
    margin-bottom: 0;
  }

  * {
    @include func.lineHeightNegatieMargin(var(--fz));
  }

  @media (width < 720px) {
    max-width: none;
  }

  .#{var.$ns}-h2 {
    --fz: 42;
    @include func.numberToRemFz(var(--fz));
    line-height: var(--heading-lh);
    font-weight: 700;
    color: var(--text-caption);
    @media (width < 720px) {
      --fz: 28;
      --heading-lh: 1.14;
    }
  }

  .#{var.$ns}-h3 {
    --fz: 23;
    line-height: var(--heading-lh);
    color: var(--text-highlight);
    margin-top: 2em;
    position: relative;
    padding-left: 1.5em;
    &::before {
      position: absolute;
      top: 0.5em;
      transform: translateY(-1.5px);
      left: 0;
      content: '';
      display: block;
      width: 1em;
      height: 3px;
      background: currentColor;
    }
    @media (width < 720px) {
      --fz: 20;
      --heading-lh: 1.14;
    }
  }

}

a {
  color: var(--text-highlight);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    nav &,
    button & {
      text-decoration: none;
    }
  }
}

em {
  color: var(--text-caption);
  font-size: 75%;
}

strong {
  color: var(--text-highlight);
  font-weight: 700;
}
