<nav class="twls-sidemenu">
  <section class="twls-sidemenu-container">
    <h2 class="twls-sidemenu-heading">Component</h2>
    <ul class="twls-sidemnu-list">
      <li class="twls-sidemenu-item"><a href="">Button</a></li>
      <li class="twls-sidemenu-item"><a href="">CardButton</a></li>
      <li class="twls-sidemenu-item"><a href="">Panel</a></li>
      <li class="twls-sidemenu-item"><a href="">Accordion</a></li>
    </ul>
  </section>
</nav>