<nav class="subpage-nav">
  <ul class="nav-item">
    <li><a href="/">トップページ</a></li>
    <li><a href="/about/">仮の下層ページ（About）</a></li>
    <li><a href="/kitchen-sink/">Kitchen sink</a></li>
  </ul>
</nav>