---
import SubpageNavigation from './SubpageNavigation.astro'
const {title, caption} = Astro.props
---
<div class="twls-container">
  <div class="global-header">
    <p class="title">{ title }</p>
    <p class="caption">{ caption }</p>
  </div>
  <SubpageNavigation />
</div>
