#subpage-navigation {
  ul {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: start;
    gap: 4.5rem;

    margin-top: -4rem;
    margin-bottom: 12rem;

    & > * {
      margin-bottom: 0;
    }
  }
}
