{% extends 'layouts/html-skelton.njk' %}

{% block skelton %}

<header>
  <!-- Global Header goes here. Here is reservation area. -->
</header>
<main id="main">
  <div class="layout-container">
    {% block content%}
    {% endblock %}
  </div>
</main>
<footer>
  <!-- Global Footer goes here. Here is reservation area. -->
</footer>

{% endblock %}