{% extends 'layouts/html-skelton.njk' %}

{% block skelton %}

<header>
  
</header>
<main id="main">
  <div class="layout-container">
    {% block content%}
    {% endblock %}
  </div>
</main>
<footer>
  {% include 'components/site/global/global-footer.njk' %}
</footer>

{% endblock %}