<!DOCTYPE html>
<html lang="ja">
<head>
  {% block headStart %}
  {% endblock %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/src/assets/styles/style.scss">
  {% block headEnd %}
  {% endblock %}
</head>
<body>
  
  {% block bodyStart %}
  {% endblock %}
  
  {% block skelton %}
  {% endblock %}
  
  <script src="/src/assets/scripts/main.ts" type="module"></script>
  {% block bodyEnd %}
  {% endblock %}
</body>
</html>