{% extends 'layouts/html-skelton.njk' %}

{% block skelton %}
<header>
  <!-- Global Header goes here. Here is reservation area. -->
</header>
<main id="main">
  <div class="layout-container">
    {% block sidebar%}
    {% endblock %}
    {% block content %}
    {% endblock %}
  </div>
</main>
<footer>
  <twls-global-footer></twls-global-footer>
</footer>
{% endblock %}