@use "../config/_variables" as var;
@use "../utils/functions" as func;

@use "elements/text-counter.scss";

input[type="text"],
input[type="number"],
input[type="url"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="datetime-color"] {
  border-radius: var(--global-radius);
  min-width: 20em;
  margin-bottom: 0.4em;
}

label:has(
    input[type="text"],
    input[type="number"],
    input[type="url"],
    input[type="password"],
    input[type="tel"],
    input[type="email"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="datetime-color"]
  ) {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  .#{var.$ns}-label-text {
    --fz: 13;
    @include func.numberToRemFz(var(--fz));
    &::before {
      --fz: 11;
      @include func.numberToRemFz(var(--fz));
      content: "任意";
      color: var(--text-caption);
      background: transparent;
      border: 1px solid var(--text-caption);
      position: absolute;
      padding-top: 0.45rem;
      padding-bottom: 0.45rem;
      padding-left: 0.6rem;
      padding-right: 0.6rem;
      border-radius: 2px;
    }
  }
  &:has(*:required) {
    .#{var.$ns}-label-text {
      position: relative;
      padding-left: 3.25em;
      font-weight: 700;
      &::before {
        content: "必須";
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: #fff;
        background: var(--text-main);
      }
    }
  }
}
