// @use "elements/text-counter.scss";

input[type="text"],
input[type="number"],
input[type="url"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="datetime-color"] {
  border-radius: calc(var(--br-normal) * 1px);
  min-width: 20em;
  border: 1px solid var(--text-main);
}

fieldset {
  border: 1px solid #ddd;
  padding: 2rem;
  position: relative;
  padding-top: 5rem;
  display: flex;
  flex-flow: column;
  gap: 0.25rem;

  &:disabled {
    * {
      color: #ccc;
    }
  }
}

form legend {
  margin: 0;
  position: absolute;
  top: 2rem;
  z-index: 2;
  font-weight: 800;
}

label:has([type="radio"]),
label:has([type="checkbox"]) {
  border: 1px solid #ddd;
  border-radius: 5px;
  display: inline-flex;
  flex-flow: row;
  gap: 0.5rem;
  padding: 1rem;
  &:hover {
    cursor: pointer;
    border-color: #222;
  }
}

label:has([type="checkbox"]:required) {
  .label-text {
    position: relative;
    padding-right: 3em;
    &::after {
      content: "必須";
      position: absolute;
      font-size: 1.1rem;
      color: white;
      background-color: red;
      padding: 0.5em 0.75em;
      border-radius: 3px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
}

twls-single-line-input {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    display: grid;
    width: 720px;
    grid-template-columns: 1fr 3fr auto;
    grid-template-rows: 1fr auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .label-text {
    grid-area: 1 / 1 / 2 / 2;
  }
  .input-field {
    grid-area: 1 / 2 / 2 / 4;
  }
  .assist-messages {
    grid-area: 2 / 2 / 3 / 3;
  }
  .text-counter {
    grid-area: 2 / 3 / 3 / 4;
  }

  .label-text {
    position: relative;
    padding-left: 2.78em;
    top: calc(((22 * 0.2 + 22) / 2 - 4) * 1px);
    &::before {
      content: "任意";
      position: absolute;
      font-size: 1.1rem;
      color: #444;
      background-color: #dedede;
      padding: 0.5em 0.75em;
      border-radius: 3px;
      top: 50%;
      transform: translateY(calc(-50% - 1em));
      left: 0;
    }
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--text-optional);
  }

  &:has([required]) {
    .label-text {
      position: relative;
      padding-left: 2.78em;
      &::before {
        content: "必須";
        position: absolute;
        font-size: 1.1rem;
        color: white;
        background-color: red;
        padding: 0.5em 0.75em;
        border-radius: 3px;
        top: 50%;
        transform: translateY(calc(-50% - 1em));
        left: 0;
      }
    }
  }

  .input-field {
    --fz: 22;
    padding: 0.2em 0.35em;
  }

  .assist-messages {
    display: grid;
    gap: 0.5em;
    * {
      --fz: 12;
    }
  }
  .text-counter * {
    --fz: 11;
    // line-height: 0;
  }
}
